@import "variables";
nav {
    background-color: $azulclaro;
    border-radius: 30px;
    li {
        padding: 0 5px;
        a {
            text-decoration: none;
            color: white;
        }
        a:hover {
            color: lightgray;
            transition: all 0.2s ease 0s;
        }
    }
}

main {
    div {
        .titulo {
            text-align: center;
            font-size: xx-large;
            font-weight: 700;
            color: $azuloscuro;
        }
    }
    section {
        .subtitulo {
            @extend .titulo;
            font-size: large;
            padding: 10px 10px;
        }
    }
}

footer {
    background: linear-gradient(to bottom, #4765e6, #172449);
    color: white;
    button {
        padding: 9px 25px;
        margin-left: 5px;
        background-color: $azulclaro;
        color: white;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.5s ease 0s;
    }
    button:hover {
        background-color: $naranja;
    }
}