@import "variables";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

//mapa
@each $nombre,
$margen in $margenes {
    #{$nombre} {
        margin: $margen;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include altypad(150px, 5px)
}

nav {
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        @include altypad(50px, 10px);
        ul {
            text-decoration: none;
            li {
                display: inline-block;
            }
        }
    }
}

main {
    div {
        .titulo {
            margin: 15px 0;
            text-align: center;
        }
    }
    section {
        display: flex;
        justify-content: center;
        margin: 15px 0px;
        article {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                width: 200px;
            }
        }
    }
}

footer {
    margin-top: 50px;
    height: 150px;
    display: flex;
    flex-direction: column;
    div {
        margin-top: 20px;
        padding: 10px;
        display: flex;
        justify-content: center;
    }
    p {
        text-align: center;
        padding-bottom: 10px;
    }
}